<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button matTooltip="Delete" color="primary" *ngIf="currentUser.id === post.author.id"
      (click)="delPost()">
      <mat-icon>delete</mat-icon>
    </button>
      <button  mat-icon-button matTooltip = "Edit" color="primary" *ngIf="currentUser.id === post.author.id" (click) = "togleEditPost()">
        <mat-icon>create</mat-icon>
      </button>
    <button mat-icon-button color="primary" (click)="likePost()">
      <mat-icon matTooltip="Like" matBadge="{{post.reactions.length}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">thumb_up_alt</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" (click)=" toggleComments()">
      <mat-icon matTooltip="Comment" matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
  </mat-card-actions>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment"></app-comment>
  </div>
</mat-card>
<mat-card *ngIf= "showEditPost">
<mat-form-field>
  <textarea [(ngModel)]="post.body" matInput placeholder="Write something..."></textarea>
</mat-form-field>
<div>
  <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
  <img  mat-card-image class="post-edit-image"   *ngIf="imageUrl" mat-card-image  src="{{imageUrl}}" alt="Photo">
</div>
<mat-card-actions align="end">
  <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
  <button mat-icon-button color="accent" (click)="file.click()">
    <mat-icon aria-label="Choose an image">image</mat-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Edit It" (click)="updated()">
    <mat-icon aria-label="Send">send</mat-icon>
  </button>
</mat-card-actions>
</mat-card>
